<h1>Reviews List</h1>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= link_to "Review by #{review.author}", restaurant_review_path(@restaurant, review) %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to Restaurant", restaurant_path(@restaurant) %>
